<nav class="navbar">
    <div class="nav-container">
        <div class="logo">
            <a href="index.html">
                <img src="CH logo300.jpg" alt="The Crucible House" class="logo-img">
            </a>
        </div>
        <ul class="nav-menu">
            <li><a href="index.html" class="nav-link">Home</a></li>
            <li><a href="artist.html" class="nav-link">Artist</a></li>
            <li><a href="about.html" class="nav-link">About</a></li>
            <li><a href="contact.html" class="nav-link">Contact</a></li>
            <li><a href="shop.html" class="nav-link">Shop</a></li>
        </ul>
        <div class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</nav>

